<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lojinha</title>
</head>
<body>  
        
    <div class="grid-container">
        <!-- coloco logo da loja na direita e botões de acesso na esquerda -->
        <header class="row"> 
            <div class="brand"> 
                <a href="index.html">Lojinha</a>
            </div>
            <div>
                <a href="cart.html">Carrinho</a>
                <a href="signin.html">Cadastre</a>
            </div>
        </header>

 
        <!--  -->
        <main>
            <ul>
                <li>Produto 1</li>
                <li>Produto 2</li>
                <li>Produto 3</li>
                <li>Produto 4</li>
                <li>Produto 5</li>
            </ul>
        </main>


        <!--  -->
        <footer class="row center">
            Peguei template do youtube, obrigado "Coding with Basir"
        </footer>
    </div>

</body>
</html>